<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>HIHI</h1>
      <form>
        <input ng-model="name">
      </form>
      <h2>{{ name }}</h2>
    </div>
  </div>
</div>