<% publish_to "/messages/new" do %>
  $('#messages_list').append("<li><%= @message.content %></li>");
  
  console.log("success");

  $('#message_content').val('');

  scrollToBottomOfMessages();
  
  screenTextAnimation("<%= @message.content %>");
<% end %>
