<% publish_to "/messages/new" do %>
  $('#messages_list').append("<li><%= @message.content %></li>");
  scrollToBottomOfMessages();
  screenTextAnimation("<%= @message.content %>");
<% end %>

$('#message_content').val('');
