<div class="container airplanes-list">
  <div class="row">
    <h1>List of Airplanes</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Airline</th>
            <th>Registration Code</th>
            <th>Type</th>
            <th>Type Code</th>
            <th>ModeS</th>
            <th>S/N</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="airplane in airplanes">
            <td>{{ airplane.airline.name }}</td>
            <td>{{ airplane.registration_code }}</td>
            <td>{{ airplane.plane_type }}</td>
            <td>{{ airplane.plane_type_code }}</td>
            <td>{{ airplane.mode_s }}</td>
            <td>{{ airplane.s_n }}</td>
            <td>
              <a data-ng-href="/airplanes/{{ airplane.registration_code }}" class="btn btn-xs btn-default">
                See details
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>