<div class="container">
  <div class="row">
    <h1>All Chinese Companies</h1>
    <input label="搜索公司" ng-model="name">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Symbol</th>
          </tr>
        </thead>

        <tr ng-repeat="company in companies | filter:name">
          <td>{{ company.name }}</td>
          <td>{{ company.symbol }}</td>
          <td>
            <a ng-href="chinese_companies/{{ company.symbol }}">link</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
