<h1>Hello World!</h1>

<div>adsfasdfsdf</div>

<a ng-href="/companies">All ShenZhen companies</a>
<!-- 
<%= subscribe_to "/messages/new" %>
<%= subscribe_to "/tickers/new" %>

<div id="priceChart"></div>

<div>
  <span>Last Price</span>
  <span id="last_price">Loading...</span>
</div>

<div>
  <span>Mid Price</span>
  <span id="mid_price">Loading...</span>
</div>

<div>
  <span>Bid Price</span>
  <span id="bid_price">Loading...</span>
</div>

<div>
  <span>Ask Price</span>
  <span id="ask_price">Loading...</span>
</div>

<div id="screen_texts">
</div> -->